# general
NODE_ENV=development

# database configuration
DATABASE_URL="file:./dev.db"

# authentication
ACCESS_TOKEN_KEY=ACCESS_TOKEN_KEY
ACCESS_TOKEN_EXPIRY=0 # in seconds

REFRESH_TOKEN_KEY=REFRESH_TOKEN_KEY
REFRESH_TOKEN_EXPIRY=0 # in seconds
