# general
NODE_ENV=development
DEFAULT_PASSWORD=default_password

# database configuration
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/database_name"

# authentication
ACCESS_TOKEN_KEY=ACCESS_TOKEN_KEY
ACCESS_TOKEN_EXPIRY=1800 # in seconds (30 minutes)

REFRESH_TOKEN_KEY=REFRESH_TOKEN_KEY
REFRESH_TOKEN_EXPIRY=604800 # in seconds (7 days)

# vercel blob
BLOB_READ_WRITE_TOKEN=BLOB_READ_WRITE_TOKEN

# public
NEXT_PUBLIC_API_URL=/api/v1
